In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv(r"https://raw.githubusercontent.com/archana1822/DMDW-Lab/main/Toyota.csv")
dataset

,Unnamed: 0,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
0,0,13500,23.0,46986,Diesel,90,1.0,0,2000,three,1165
1,1,13750,23.0,72937,Diesel,90,1.0,0,2000,3,1165
2,2,13950,24.0,41711,Diesel,90,NaN,0,2000,3,1165
3,3,14950,26.0,48000,Diesel,90,0.0,0,2000,3,1165
4,4,13750,30.0,38500,Diesel,90,0.0,0,2000,3,1170
5,5,12950,32.0,61000,Diesel,90,0.0,0,2000,3,1170
6,6,16900,27.0,??,Diesel,????,NaN,0,2000,3,1245
7,7,18600,30.0,75889,NaN,90,1.0,0,2000,3,1245
8,8,21500,27.0,19700,Petrol,192,0.0,0,1800,3,1185
9,9,12950,23.0,71138,Diesel,????,NaN,0,1900,3,1105
10,10,20950,25.0,31461,Petrol,192,0.0,0,1800,3,1185
11,11,19950,22.0,43610,Petrol,192,0.0,0,1800,3,1185
12,12,19600,25.0,32189,Petrol,192,0.0,0,1800,3,1185
13,13,21500,31.0,23000,Petrol,192,1.0,0,1800,3,1185
14,14,22500,32.0,34131,Petrol,192,1.0,0,1800,3,1185
15,15,22000,28.0,18739,Petrol,????,0.0,0,1800,3,1185
16,16,22750,30.0,34000,Petrol,192,1.0,0,1800,3,1185
17,17,17950,24.0,21716,Petrol,110,1.0,0,1600,3,1105
18,18,16750,24.0,25563,Petrol,110,0.0,0,1600,3,1065
19,19,16950,30.0,64359,Petrol,110,1.0,0,1600,3,1105
20,20,15950,30.0,67660,Petrol,110,1.0,0,1600,3,1105
21,21,16950,29.0,43905,NaN,110,0.0,1,1600,3,1170
22,22,15950,28.0,56349,Petrol,110,1.0,0,1600,3,1120
23,23,16950,28.0,32220,Petrol,110,1.0,0,1600,3,1120
24,24,16250,29.0,25813,Petrol,110,1.0,0,1600,3,1120
25,25,15950,25.0,28450,Petrol,110,1.0,0,1600,3,1120
26,26,17495,27.0,34545,NaN,110,1.0,0,1600,3,1120
27,27,15750,29.0,41415,Petrol,110,1.0,0,1600,3,1120
28,28,16950,28.0,44142,Petrol,110,0.0,0,1600,3,1120
29,29,17950,30.0,11090,NaN,110,NaN,0,1600,3,1120
...,...,...,...,...,...,...,...,...,...,...,...
1406,1406,8950,70.0,44850,Petrol,110,1.0,0,1600,3,1050
1407,1407,8250,69.0,44826,Petrol,110,0.0,0,1600,5,1075
1408,1408,9250,NaN,44444,Petrol,110,1.0,0,1600,3,1050
1409,1409,7900,75.0,43720,Petrol,110,NaN,0,1600,5,1070
1410,1410,8500,78.0,43622,Petrol,86,1.0,0,1300,4,1000
1411,1411,7950,76.0,43532,Petrol,110,0.0,0,1600,5,1070
1412,1412,9950,69.0,42800,Petrol,110,1.0,0,1600,3,1050
1413,1413,8750,74.0,42317,Petrol,107,1.0,1,1600,5,1100
1414,1414,7500,80.0,42186,Petrol,110,1.0,0,1600,3,1050
1415,1415,6950,72.0,42000,Petrol,110,NaN,0,1600,3,1050
1416,1416,8950,NaN,40093,Petrol,110,0.0,0,1600,5,1114
1417,1417,8750,79.0,39800,Petrol,107,0.0,1,1600,3,1080
1418,1418,7750,73.0,39168,Petrol,86,NaN,0,1300,3,1015
1419,1419,8450,75.0,38945,Petrol,110,NaN,0,1600,3,1050
1420,1420,8150,76.0,36537,NaN,110,0.0,1,1600,4,1075
1421,1421,8500,78.0,??,Petrol,86,0.0,1,1300,3,1045
1422,1422,7600,NaN,36000,NaN,110,1.0,0,1600,3,1050
1423,1423,7950,80.0,35821,Petrol,86,0.0,1,1300,3,1015
1424,1424,7750,73.0,34717,Petrol,86,0.0,0,1300,3,1015
1425,1425,7950,80.0,??,Petrol,86,1.0,0,1300,4,1000
1426,1426,9950,78.0,30964,Petrol,110,NaN,1,1600,3,1080
1427,1427,8950,NaN,29000,Petrol,86,1.0,1,1300,3,1045
1428,1428,8450,72.0,??,Petrol,86,NaN,0,1300,3,1015
1429,1429,8950,78.0,24000,Petrol,86,1.0,1,1300,5,1065
1430,1430,8450,80.0,23000,Petrol,86,0.0,0,1300,3,1015
1431,1431,7500,NaN,20544,Petrol,86,1.0,0,1300,3,1025
1432,1432,10845,72.0,??,Petrol,86,0.0,0,1300,3,1015
1433,1433,8500,NaN,17016,Petrol,86,0.0,0,1300,3,1015
1434,1434,7250,70.0,??,NaN,86,1.0,0,1300,3,1015
1435,1435,6950,76.0,1,Petrol,110,0.0,0,1600,5,1114

In [3]:
import numpy as np

In [4]:
dataset['MetColor'].replace(np.NaN,dataset['MetColor'].mean()).head(10)

0    1.000000
1    1.000000
2    0.674961
3    0.000000
4    0.000000
5    0.000000
6    0.674961
7    1.000000
8    0.000000
9    0.674961
Name: MetColor, dtype: float64

In [5]:
dataset.head(10)

,Unnamed: 0,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
0,0,13500,23.0,46986,Diesel,90,1.0,0,2000,three,1165
1,1,13750,23.0,72937,Diesel,90,1.0,0,2000,3,1165
2,2,13950,24.0,41711,Diesel,90,NaN,0,2000,3,1165
3,3,14950,26.0,48000,Diesel,90,0.0,0,2000,3,1165
4,4,13750,30.0,38500,Diesel,90,0.0,0,2000,3,1170
5,5,12950,32.0,61000,Diesel,90,0.0,0,2000,3,1170
6,6,16900,27.0,??,Diesel,????,NaN,0,2000,3,1245
7,7,18600,30.0,75889,NaN,90,1.0,0,2000,3,1245
8,8,21500,27.0,19700,Petrol,192,0.0,0,1800,3,1185
9,9,12950,23.0,71138,Diesel,????,NaN,0,1900,3,1105

In [6]:
dataset['CC'].mean()

1566.8279944289693

In [7]:
dataset['CC'].head()

0    2000
1    2000
2    2000
3    2000
4    2000
Name: CC, dtype: int64

In [8]:
dataset[['Age','KM']].head(20)

     Age     KM
0   23.0  46986
1   23.0  72937
2   24.0  41711
3   26.0  48000
4   30.0  38500
5   32.0  61000
6   27.0     ??
7   30.0  75889
8   27.0  19700
9   23.0  71138
10  25.0  31461
11  22.0  43610
12  25.0  32189
13  31.0  23000
14  32.0  34131
15  28.0  18739
16  30.0  34000
17  24.0  21716
18  24.0  25563
19  30.0  64359